
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --main-bg-color: #f1f1f1;
  --tile-color: #ffffff;
  --header-color: #00a99d;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.title {
  font-size: 18px;
  padding: 10px 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
